<h1>Hello barcoonaut!</h1>

<div>
  <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
</div>

<div>
  <%= link_to 'play', method: :post, class: 'link-play', remote: true do %>
    <span>Start playing some music!<span>
  <% end %>
</div>

<script type="text/javascript">
  $('.link-play').bind('ajax:beforeSend', function() {
    $('#mySpinner').show();
  });

  $('.link-play').bind('ajax:complete', function() {
    $('#mySpinner').hide();
  });
 </script>
