// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#results {
  background-color: gray;
  position: absolute;
  left: 30px;
  width: 80%;
}
